@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

span {
  color: #5D18DC;
}

body {
  background-color: #111010;
  font-family: "Secular One", sans-serif;
}

.container {
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  width: 500px;
  position: relative;
  top: 50px;
  left: 510px;
}

.board {
  position: relative;
}

.cell {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  border: 2px solid #5C18DC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

#status {
  font-size: 24px;
  margin-top: 30px;
  font-weight: bold;
}

#restart {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  position: relative;
  font-family: "Secular One", sans-serif;
  top: 140px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#restart:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

#restart:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 20px;
  }

  #board {
    grid-template-columns: repeat(2, 80px);
    width: 300px;
    top: 30px;
    left: 255px;
  }

  .cell {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }

  #status {
    font-size: 18px;
    margin-top: 20px;
  }

  #restart {
    padding: 10px 20px;
    font-size: 12px;
    top: 80px;
  }
}
